@media (min-width: 768px) {
  #hamburger { display: none !important; }

  nav .menu {
    display: flex !important;
    flex-direction: row;
    gap: 1.5rem;
    padding: 0;
  }
}

@media (min-width: 960px) {
  .gallery { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1400px) {
  .gallery { grid-template-columns: repeat(4, 1fr); }
}